/* Add CSS Styling */
.odd {
  background-color: rgb(248, 198, 198);
  font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#two {
  color: blue;
  font-size: 36px;
}

.element,
#four {
  font-size: 24px;
}

#four {
  background-color: rgb(183, 245, 183);
  font-weight: bold;
}